.form__container{
  display: relative;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.form__inputs {
  --auto-grid-min-size: 300px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 2rem;
  margin-top: 30px;
}

.form__button{
  display: flex;
  gap: 30px;
}

.after__form{
  margin-top: 30px;
}

.hide{
  display: none;
}