@import url("https://rsms.me/inter/inter.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-light: white;
  --color-dark: #212121;
  --color-signal: #055C9D;
  --color-background: var(--color-light);
  --color-text: var(--color-dark);
  --color-accent: var(--color-signal);
  --size-bezel: .5rem;
  --size-radius: 4px;
  line-height: 1.4;
  font-family: "Inter", sans-serif;
  font-size: calc(.6rem + .4vw);
  color: var(--color-text);
  background: var(--color-background);
  font-weight: 300;
  padding: 0 calc(var(--size-bezel) * 3);
}

html {
  font-family: black;
  font-style: normal;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  color: black;
  height: 100%;
  width: 100%;
}